@import "@/styles/colors.scss";

.login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   height: 100vh;
   background-color: map-get($schema, primary);
}