.navbar {
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   background-color: #000000;
}

.navbar__logo {
   font-size: 1.5rem;
   font-weight: 700;
   color: #ffff;
}

.navbar__menu ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   list-style: none;
}

